:host {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #006580, #004558);
  font-weight: bold;
  font-family: 'ITCAvantGardeStd';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  font-size: min(8vw, 8vh);
  text-transform: uppercase;
}

img {
  height: 38vh;
}

p {
  padding: 0;
  margin: 10vh 5vw;
}

@font-face {
  font-family: 'ITCAvantGardeStd';
  font-weight: bold;
  src: url("/assets/ITCAvantGardeStd-Bold.otf") format("opentype");
}