@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Karla', sans-serif;
  font-size: calc(11px + (16 - 11) * ((100vw - 700px) / (1200 - 700)));
  /*line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));*/
}

$my-blue: (
  50: #009EB7,
  100: #009EB7,
  200: #009EB7,
  300: #009EB7,
  400: #009EB7,
  500: #009EB7,
  600: #009EB7,
  700: #009EB7,
  800: #009EB7,
  900: #009EB7,
  A100: #009EB7,
  A200: #009EB7,
  A400: #009EB7,
  A700: #009EB7,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$app-primary: mat-palette($my-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme((color: (primary: $app-primary,
      accent: $app-accent,
    )));
@include mat-button-theme($app-theme);
@include mat-datepicker-theme($app-theme);
